body {
  margin: 0;
  font-family: sans-serif;
}

main {
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Profile */

.profile-section {
  background-color: #1d204b;
  display: flex;
  flex-direction: column;
  height: 27rem;
  width: 15rem;
  border-radius: 5%;
  color: white;
}

.upper-profile {
  background-color: #5746ea;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 70%;
}

.profile-img img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.upper-profile figure,
.upper-profile p,
.upper-profile h1 {
  margin: 0 0 0 1.5rem;
}
.upper-profile p {
  font-weight: 100;
}
.upper-profile h1 {
  font-size: 2.2rem;
  margin-top: 0.5rem;
}

.lower-profile {
  color: #383e75;
  margin-left: 1rem;
}

.active {
  color: white;
}
